<div class="tm-show-page">
  <div class="header header-xl">
    <div class="back-category">
      <%= link_to :back do %>
        <i class="fas fa-chevron-left"></i>
      <% end %>
      <% if @user == current_user %>
        <%= link_to edit_user_path do %>
          <span class="edit-profile"><i class="far fa-edit"></i> </span>
        <% end %>
      <% end %>
    </div>
    <div class="user-profile-pic"> <%= cl_image_tag @user.avatar.key, gravity: "faces", height: 73, width: 73, crop: :fill %> </div>
    <h1 lass="user-title"> <%= @user.first_name.capitalize %> <%= @user.last_name.capitalize %></h1>
  </div>
  <div class="container-sm">
    <div class="show-info box-background">
      <p class="user-about"><%= @user.about %></p>
      <div class="divider"></div>
      <p class="info-paragraph"><i class="fas fa-birthday-cake"></i><%= @user.age %></p>
      <div class="divider"></div>
      <p class="info-paragraph"><i class="fas fa-map-marked-alt"></i><%= @user.location %></p>
      <div class="divider"></div>
      <p class="info-paragraph"><i class="fas fa-home"></i> <%= @user.hometown %> </p>
      <div class="divider"></div>
      <p class="info-paragraph"><i class="fas fa-language"></i>
        <% num_user_languages = @user.languages.length %>
        <% @user.languages.each_with_index do |language, i| %>
          <% if i + 1 == num_user_languages %> <!-- in case this is the last language or it's the only one -->
            <%= language.name %>
          <% else %>
            <%= language.name %>,
          <% end %>
        <% end %>
      </p>
      <div class="divider"></div>
      <p class="info-paragraph"><i class="fas fa-venus-mars"></i><%= @user.gender %></p>
      <% if @user == current_user %>
        <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "activity-card-btn-join" %>
      <% else %>
        <%= link_to "buddy Us", destroy_user_session_path, class: "activity-card-btn-join" %>
      <% end %>
    </div>
  </div>
</div>
