<%= link_to activity_path(activity) do %>
  <div class="activity-card activity-card-category-<%= activity.category %>" id="activity-card-<%= activity.id %>">
    <div class="activity-card-top">
      <div class="avatar-category-title-date">
        <div class="category-title-date">
          <div class="category-upload-time">
            <h2 class="activity-card-date"><%= activity.getDateRepresentation %></h2>
            <div class="activity-category-icon activity-category-icon-<%= activity.category.gsub(/ /, '-').downcase %>">
              <% case activity.category %>
                <% when 'Night Life' %>
                  <i class="fas fa-glass-cheers"></i>
                  <p>Night Life</p>
                <% when 'Nature' %>
                  <i class="fas fa-tree"></i>
                  <p>Nature</p>
                <% when 'Food'%>
                  <i class="fas fa-utensils"></i>
                  <p>Food</p>
                <% when 'Sport'%>
                  <i class="fas fa-running"></i>
                  <p>Sport</p>
                <% when 'Workshops'%>
                  <i class="fas fa-graduation-cap"></i>
                  <p>Workshops</p>
                <% when 'Culture'%>
                  <i class="fas fa-image"></i>
                  <p>Culture</p>
                <% when 'Travel'%>
                  <i class="fas fa-bus"></i>
                  <p>Travel</p>
              <% end %>
            </div>
          </div>
          <h1 class="activity-card-title"><%= activity.title.split.map(&:capitalize).join(' ') %></h1>
        </div>
      </div>
    </div>
     <div class="bottom-content-chat-card activity-card-bottom">
            <ul class="avatars-row-widget">
              <li class="avatar-item">
                <div class="activity-show-avatar"
                   style="background-image: url('<%= cl_image_path activity.user.avatar.key,
                   gravity: 'face', height: 50, width: 50, crop: :fill %>')">
                </div>
              </li>
              <% activity.members.each do |member| %>
                <% if member.status == "accept" %>
                  <li class="avatar-item">
                    <div class="activity-show-avatar"
                         style="background-image: url('<%= cl_image_path member.user.avatar.key,
                         gravity: 'face', height: 50, width: 50, crop: :fill %>')">
                    </div>
                  </li>
                  <% end %>
                  <% end %>
            </ul>
      <div class="activity-card-capacity">
        <% if activity.user == current_user %>
        <p>Owner</p>
        <% else %>
          <% activity.members.each do |member|  %>
            <% if member.user == current_user %>
               <p> Member : <%= member.status.capitalize %> </p>
            <% end %>
          <% end %>
        <% end %>
      </div>
  </div>
    <div class="category-color-line  category-color-line-<%= activity.category.gsub(/ /, '-').downcase %>"></div>
</div>
<% end %>
