
  <div class="activity-card-new activity-card-new-category-<%= activity.category.gsub(/ /, '-').downcase %>">
    <div class="activity-card-new-info">
      <%= link_to activity_path(activity) do %>
        <div class="activity-card-new-date-title-category">
          <div class="activity-card-new-date-title">
            <h2 id="activity-card-new-date"><%= activity.getDateRepresentation %></h2>
            <h1 id="activity-card-new-title"><%= activity.title.split.map(&:capitalize).join(' ') %></h1>
          </div>
        </div>
      <% end %>
      <div class="activity-card-new-avatars-capacity">
        <%= link_to user_path(activity.user) do %>
          <div class="activity-card-new-avatar"
          style="background-image: url('<%= cl_image_path activity.user.avatar.key,
          gravity: 'face', height: 43, width: 43, crop: :fill %>')">
          </div>
        <% end %>
        <p class="activity-card-new-capacity"><%= activity.spots_left_new %></p>
      </div>
    </div>
  </div>
