<%= link_to activity_path(activity) do %>
  <div class="activity-card activity-card-category-<%= activity.category %>">
    <div class="test1">
      <div class="avatar-category-title-date">

        <% if activity.user.avatar.attached? %>
          <div class="activity-card-avatar"
          style="background-image: url('<%= cl_image_path activity.user.avatar.key,
          gravity: 'face', height: 73, width: 73, crop: :fill %>')">
          </div>
        <% end %>
        <div class="category-title-date">
          <div class="category-upload-time">
            <h2 class="activity-card-category activity-card-category-<%= activity.category.gsub(/ /, '-').downcase %>"><%= activity.category %></h2>
            <h2 class="activity-card-upload-time"><%= activity.num_hours_ago %></h2>
          </div>
          <h1 class="activity-card-title"><%= activity.title.split.map(&:capitalize).join(' ') %></h1>
          <h2 class="activity-card-date">Target Date: <%= activity.date %></h2>
        </div>
      </div>
    </div>

      <p class="activity-card-description"><%= activity.description.capitalize %></p>
      <div class="activity-card-capacity">
        <p><%= activity.spots_left %></p>
      </div>
      <%= link_to "Join", activity_members_path(activity), method: :post, class: "activity-card-btn-join" %>
  </div>
<% end %>
