<%= link_to activity_path(activity) do %>
  <div class="activity-card activity-card-category-<%= activity.category %>" id="activity-card-<%= activity.id %>">
    <div class="test1">
      <div class="avatar-category-title-date">

        <% if activity.user.avatar.attached? %>
          <div class="activity-card-avatar"
          style="background-image: url('<%= cl_image_path activity.user.avatar.key,
          gravity: 'face', height: 73, width: 73, crop: :fill %>')">
          </div>
        <% end %>
        <div class="category-title-date">
          <div class="category-upload-time">
            <h2 class="activity-card-category activity-card-category-<%= activity.category.gsub(/ /, '-').downcase %>"><%= activity.category %></h2>
            <h2 class="activity-card-upload-time"><%= activity.num_hours_ago %></h2>
          </div>
          <h1 class="activity-card-title"><%= activity.title.split.map(&:capitalize).join(' ') %></h1>
          <h2 class="activity-card-date">Target Date: <%= activity.date %></h2>
        </div>
      </div>
    </div>

      <p class="activity-card-description"><%= activity.description.capitalize %></p>
      <div class="activity-card-capacity">
        <p><%= activity.spots_left %></p>
      </div>

      <% spots_left = activity.group_size - activity.members.where(status: "accept").count %>
      <% if user_signed_in? %>
        <% if activity.user_id == current_user.id %>
          <div class="activity-edit-delete-btns">
            <%= link_to "Edit", edit_activity_path(activity), class: "btn-activity-edit" %>
            <%= link_to "Delete", activity_path(activity), method: :delete, class: "btn-activity-delete" %>
          </div>
        <% else %>
          <% if activity.member?(current_user) %>
            <% my_member = activity.members.find_by(user_id: current_user.id) %>
            <% if my_member %>
              <% if my_member.status == "pending" %>
                <%= link_to "Cancel Request", member_path(my_member), method: :delete, remote: true, class: "activity-card-btn-join" %>
              <% elsif my_member.status == "accept" %>
                <%= link_to "Leave", member_path(my_member), method: :delete, remote: true, class: "activity-card-btn-join" %>
              <% end %>
            <% end %>
          <% else %>
            <% if spots_left > 0 %>
              <%= link_to "Join", activity_members_path(activity), method: :post, remote: true, class: "activity-card-btn-join" %>
            <% else %>
              <%= link_to "Full", activity_members_path(activity), method: :post, remote: true, class: "activity-card-btn-join" %>
            <% end %>
          <% end %>
        <% end %>
      <% else %>
        <%= link_to "Join", activity_members_path(activity), method: :post, class: "activity-card-btn-join" %>
      <% end %>
  </div>
<% end %>
