<div class="activity-card">
  <div class="avatar-category-title-date">
    <div class="activity-card-avatar"></div>
    <div class="category-title-date">
      <h2 class="activity-card-category"><%= activity.category %></h2>
      <h1 class="activity-card-title"><%= activity.title %></h1>
      <h2 class="activity-card-date"><%= activity.date %></h2>
    </div>
    <p class="activity-card-description"><%= activity.description %></p>
    <div class="activity-card-capacity">
      <p><%= activity.group_size %></p>
    </div>
  </div>
</div>
