<div class="header-searchbar">
  <%= render 'shared/logo_header', text: "Welcome to #{@cur_location}!", logo_class: 'header-homepage logo-homepage' %>
  <%= form_tag root_path, method: :get %>
    <div class="search-bar">
      <%= text_field_tag :query,
        params[:query],
        class: "search-bar",
        placeholder: "Search"
      %>
        <button type="submit">
            <i class="fas fa-search"></i>
        </button>
    </div>
</div>

  <div class="category-scroll">
    <div class="cat-card nearby-cat" id="my-location"><i class="fas"></i> Nearby</div>
    <% Activity::ACTIVITIES.each do |activity| %>
      <% activity_lower = activity.downcase %>
      <% if @cat == activity_lower %>
        <%= link_to root_path(cat: activity_lower), class: "cat-card #{activity_lower}-cat cat-selected", data: { activity_category: activity_lower } do %>
          <i class="fas"></i>
          <%= activity %>
        <% end %>
      <% else %>
        <%= link_to root_path(cat: activity_lower), class: "cat-card #{activity_lower}-cat", data: { activity_category: activity_lower } do %>
          <i class="fas"></i>
          <%= activity %>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="container-mobile">
<!--     <div class="Recent">
      <h2>Recent activities</h2>
    </div> -->
      <% @activities.each do |single_activity| %>
        <%= render 'shared/activity-card', activity: single_activity %>
      <% end %>
  </div>
</div>
<%= javascript_pack_tag "my_location" %>
