<div class="tm-show-page">
<%= render 'shared/logo_header', text: 'Your Chats', logo_class: 'header-homepage logo-homepage' %>
  <div class="container-sm">
    <div class="all-messages">
      <% @activities.each do |activity| %>
        <%= link_to chat_path(activity) do %>
        <div class="box-background">
          <h1 class="chat-title">
            <%= activity.title %>
          </h1>
          <div class="bottom-content-chat-card">
            <ul class="avatars-row-widget">
              <li class="avatar-item">
                <div class="activity-show-avatar"
                   style="background-image: url('<%= cl_image_path activity.user.avatar.key,
                   gravity: 'face', height: 50, width: 50, crop: :fill %>')">
                </div>
              </li>
              <% activity.members.each do |member| %>
                <% if member.status == "accept" %>
                  <li class="avatar-item">
                    <div class="activity-show-avatar"
                         style="background-image: url('<%= cl_image_path member.user.avatar.key,
                         gravity: 'face', height: 50, width: 50, crop: :fill %>')">
                    </div>
                  </li>
                <% end %>
              <% end %>
            </ul>
            <div class="last-update">
              <% if activity.messages.any? %>
              <%= activity.messages.last.created_at.strftime("%l:%M%p") %>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/bottom-navbar' %>
