<div class="tm-show-page">
  <div class="header header-xl">
    <h1 lass="user-title"> Your Chats</h1>
  </div>
  <div class="container-sm">
    <div class="all-messages">
      <% @activities.each do |activity| %>
        <%= link_to chat_path(activity) do %>
        <div class="box-background">
          <h1 class="group-title">
            <%= activity.title %>
          </h1>
          <div class="members">
            <% activity.members.each do |member| %>
              <% if member.status == "accept" %>
                <li class="avatar-item">
                  <div class="activity-show-avatar"
                       style="background-image: url('<%= cl_image_path member.user.avatar.key,
                       gravity: 'face', height: 50, width: 50, crop: :fill %>')">
                   </div>
                </li>
              <% end %>
            <% end %>
          </div>
          <div class="last-update">
            <%= activity.messages.last %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<%= render 'shared/bottom-navbar' %>
