<div class="tm-show-page">
  <%= render 'shared/chat_header' %>
  <div class="container-sm">
    <div id="messages" data-activity-id="<%= @activity.id %>">
      <% @activity.messages.each do |message| %>
          <%= render 'messages/message', message: message %>
      <% end %>
    </div>
  </div>
    <div class="chat-create-bar">
      <%= simple_form_for [ @activity, @message ], remote: true do |f| %>
        <div class="message-input-bg">
        <%= f.input :content, as: :string, class: 'message-input', label: false, placeholder: "Say something..." %>
        <%= button_tag type: 'submit', class: "chat-btn" do %>
          <i class="fas fa-arrow-up"></i>
        <% end %>
        </div>
      <% end %>
    </div>
</div>
