<% unless user_signed_in? %>
  <div class="banner">
    <%= render 'shared/logo_header' %>
    <div class="slogan">
      <h2> Discover the world with the people around you. </h2>
    </div>
    <div class="img-home">
      <%= image_tag("travelers.svg") %>
    </div>
    <div class="btns-home">
      <%= link_to "Sign up", "/users/sign_up", class: "tm-btn-primery" %>
      <%= link_to "Log in", new_user_session_path, class: "tm-btn-secondary" %>
    </div>
  </div>
  <div class="container-mobile mt-3">
<!--     <div class="Recent">
      <h2>Recent activities</h2>
    </div> -->
      <% @activities_limit.each do |single_activity| %>
        <%= render 'shared/activity-card', activity: single_activity %>
      <% end %>
  </div>
<% else %>
  <%= render 'shared/user_homepage' %>
<% end %>
<% if user_signed_in? %>
  <%= render 'shared/bottom-navbar' %>
<% end %>
