<div class="tm-show-page">
  <div class="header header-xl">
    <div class="back-category">
      <%= link_to root_path(anchor: "activity-card-#{@activity.id}") do %>
        <i class="fas fa-chevron-left"></i>
      <% end %>
      <span class="activity-category"> <%= @activity.category %> </span>
    </div>
    <h4 class="activity-date-center"><%= @activity.date %></h4>
    <h1 class="activity-title"><%= @activity.title.split.map(&:capitalize).join(' ') %></h1>


    <ul class="avatars-row-widget">
      <li class="avatar-item">
        <div class="activity-show-avatar" style="background-image: url('<%= cl_image_path @activity.user.avatar.key, gravity: "face", height: 50, width: 50, crop: :fill %>')"></div>
      </li>
    <% @activity.members.each do |member| %>
      <% if member.status == "accept" %>
        <li class="avatar-item">
          <div class="activity-show-avatar" style="background-image: url('<%= cl_image_path member.user.avatar.key, gravity: "face", height: 50, width: 50, crop: :fill %>')"></div>
        </li>
      <% end %>
    <% end %>
    </ul>

    <% spots_left = @activity.group_size - @activity.members.where(status: "accept").count %>
    <% if spots_left == 1 %>
      <% spots_left_text = "1 spot left" %>
    <% elsif spots_left > 1 %>
      <% spots_left_text = "#{spots_left} spots left" %>
    <% elsif spots_left == 0 %>
      <% spots_left_text = "Full" %>
    <% end %>
    <p><%= spots_left_text %></p>

  </div>
  <div class="container-sm">
    <%= link_to user_path(@activity.user) do %>
      <div class="owner-info box-background">
        <div class="activity-owner-pic" style="background-image: url('<%= cl_image_path @activity.user.avatar.key, gravity: "face", height: 40, width: 40, crop: :fill %>')">
        <div class="owner-text">
          <h1 class="owner-name"> <%= @activity.user.first_name.capitalize %> <%= @activity.user.last_name.capitalize %></h1>
          <h1 class="owner-title">Owner</h1>
        </div>
        </div>
      </div>
    <% end %>
    <div class="show-info box-background">
      <p class="info-paragraph"><%= @activity.description %> <%= @activity.ideal_member %></p>
      <div class="divider"></div>
      <p class="info-paragraph"><i class="fas fa-map-marker-alt"></i><%= @activity.location %></p>
      <div class="divider"></div>
      <p class="info-paragraph">
        <i class="fas fa-dollar-sign"></i>
        <% if @activity.price == 0 %>
          <%= 'Free' %>
        <% else %>
          <%= @activity.price %>
        <% end %>
      </p>
      <div class="divider"></div>
      <p class="info-paragraph">
        <i class="fas fa-users"></i>
        <% if spots_left >= 1 %>
          <%= @activity.group_size %> / <%= spots_left_text %>
        <% elsif spots_left == 0 %>
          <%= spots_left_text %>
        <% end %>
      </p>

      <% if @activity.user_id == current_user.id %>
        <div class="activity-edit-delete-btns">
          <%= link_to "Edit", edit_activity_path, class: "btn-activity-edit" %>
          <%= link_to "Delete", activity_path, method: :delete, class: "btn-activity-delete" %>
        </div>
      <% else %>
        <% if @activity.member?(current_user) %>
          <% my_member = @activity.members.find_by(user_id: current_user.id) %>
          <% if my_member %>
            <% if my_member.status == "pending" %>
              <%= link_to "Cancel Request", member_path(@member), method: :delete, remote: true, class: "activity-card-btn-join" %>
            <% elsif my_member.status == "accept" %>
              <%= link_to "Leave", member_path(@member), method: :delete, remote: true, class: "activity-card-btn-join" %>
            <% end %>
          <% end %>
        <% else %>
          <% if spots_left > 0 %>
            <%= link_to "Join", activity_members_path(@activity), method: :post, remote: true, class: "activity-card-btn-join" %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
