<div class="tm-show-page">
  <div class="header header-xl">
    <div class="back-category">
      <%= link_to  :back do %>
        <i class="fas fa-chevron-left"></i>
      <% end %>
      <span class="activity-category"> <%= @activity.category %> </span>
    </div>
    <h4 class="activity-date-center"><%= @activity.date %></h4>
    <h1 class="logo"><%= @activity.title.capitalize %></h1>
    <p> <%= @activity.group_size - Member.count %> spots left </p>

  </div>
  <div class="container-sm">
    <%= link_to user_path(@activity.user) do %>
      <div class="owner-info box-background">
        <div class="activity-owner-pic" style="background-image: url('<%= cl_image_path @activity.user.avatar.key, gravity: "faces", height: 73, width: 73, crop: :fill %>')">
        <div class="owner-text">
          <h1 class="owner-name"> <%= @activity.user.first_name %> <%= @activity.user.last_name %></h1>
          <h1 class="owner-title">Owner</h1>
        </div>
        </div>
      </div>
    <% end %>
    <div class="show-info box-background">
      <p class="info-paragraph"><%= @activity.description %> <%= @activity.ideal_member %></p>
      <div class="divider"></div>
      <p class="info-paragraph"><i class="fas fa-map-marker-alt"></i><%= @activity.location %></p>
      <div class="divider"></div>
      <p class="info-paragraph"><i class="fas fa-dollar-sign"></i><%= @activity.price %></p>
      <div class="divider"></div>
      <p class="info-paragraph"><i class="fas fa-users"></i><%= @activity.group_size %> / <%= (@activity.group_size - Member.count) %> spots left </p>
      <!-- <a href="#" class="activity-card-btn-join">Join</a> -->
      <%= link_to "Join", activity_members_path(@activity), method: :post, class: "activity-card-btn-join" %>
    </div>
  </div>
</div>


