<div class="tm-show-page">
  <div class="header header-xl">
    <div class="back-category">
      <%= link_to  "/" do %>
        <i class="fas fa-chevron-left"></i>
      <% end %>
      <span class="activity-category"> <%= @activity.category %> </span>
    </div>
    <h4 class="activity-date-center"><%= @activity.date %></h4>
    <h1 class="activity-title"><%= @activity.title.capitalize %></h1>


    <ul class="avatars-row-widget">
      <li class="avatar-item">
        <div class="activity-show-avatar" style="background-image: url('<%= cl_image_path @activity.user.avatar.key, gravity: "face", height: 50, width: 50, crop: :fill %>')"></div>
      </li>
    <% @activity.members.each do |member| %>
    <li class="avatar-item">
      <div class="activity-show-avatar" style="background-image: url('<%= cl_image_path member.user.avatar.key, gravity: "face", height: 50, width: 50, crop: :fill %>')"></div>
    </li>
    <% end %>
    </ul>


    <p> <%= ( @activity.group_size - @activity.members.count ) %> spots left </p>

  </div>
  <div class="container-sm">
    <%= link_to user_path(@activity.user) do %>
      <div class="owner-info box-background">
        <div class="activity-owner-pic" style="background-image: url('<%= cl_image_path @activity.user.avatar.key, gravity: "face", height: 40, width: 40, crop: :fill %>')">
        <div class="owner-text">
          <h1 class="owner-name"> <%= @activity.user.first_name %> <%= @activity.user.last_name %></h1>
          <h1 class="owner-title">Owner</h1>
        </div>
        </div>
      </div>
    <% end %>
    <div class="show-info box-background">
      <p class="info-paragraph"><%= @activity.description %> <%= @activity.ideal_member %></p>
      <div class="divider"></div>
      <p class="info-paragraph"><i class="fas fa-map-marker-alt"></i><%= @activity.location %></p>
      <div class="divider"></div>
      <p class="info-paragraph">
        <i class="fas fa-dollar-sign"></i>
        <% if @activity.price == 0 %>
          <%= 'Free' %>
        <% else %>
          <%= @activity.price %>
        <% end %>
      </p>
      <div class="divider"></div>
      <p class="info-paragraph"><i class="fas fa-users"></i><%= @activity.group_size %> / <%= (@activity.group_size - @activity.members.count) %> spots left </p>

      <% if @activity.member?(current_user) %>
        <%= link_to "Leave",  member_path(@member) , method: :delete, remote: true, class: "activity-card-btn-join" %>
      <% else %>
        <%= link_to "Join",  activity_members_path(@activity) , method: :post, remote: true, class: "activity-card-btn-join" %>
      <% end %>
    </div>
  </div>
</div>


