<!DOCTYPE html>
<html>
  <head>
    <title>TravelMateApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag("favicon.svg") %>
    <meta property="og:title" content="TravelMate">
    <meta property="og:image" content="../../assets/images/ogimage.png">
    <meta name="description" content="TravelMate - Discover the world with the people around you.">
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="TravelMate"/>
    <meta property="og:url" content="" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/flashes' %>
    <%= yield %>
  </body>
</html>
